$main-color: #acd373;
$light-color: #f7f7f7;
$dark-color: #454545;

$main-font: 'Source Sans Pro', sans-serif;
$DroidSerif: 'Droid Serif', serif;

footer {
  background-color: #9abd67;
  .container {
    padding: 30px 20px;
  }
  p {
    margin-bottom: 20px;
    font-size: 18px;
    color: $light-color;
  }
}
.social-icons {
  li {
    display: inline-block;
    .fa {
      padding: 5px;
      margin: 5px;
      width: 30px;
      font-size: 25px;
      color: #9abd67;
      line-height: 30px;
      border-radius: 100%;
      background-color: $light-color;
      @include transition(all, .3s, ease);

      &:hover {
        color: $light-color;
        background-color: #86A657;
      }
    }
  }
}

@media (min-width: 1024px) {
  footer {
    p {
      margin-top: 18px;
      margin-bottom: 0;
      float: left;
    }
  }
  .social-icons {
    float: right;
  }
}