 /*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; font-size:14px; font-family: 'Open Sans', Tahoma, Arial; background:#fff; color:#000; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
select, input, textarea        { font-size:12px; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit], button     { cursor:pointer; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a:link, a:visited              { font:14px 'Open Sans', sans-serif; color:#000; text-decoration:underline; }
a:hover                        { text-decoration:none; }

/*----------------------------------------------------------------------------------*/
/*-------------------------------------MAIN STYLES----------------------------------*/
/*----------------------------------------------------------------------------------*/
h2 {
	font-size: 20px;
	font-weight: 700;
/*	line-height: 45px;*/
	color: #504f50;
	text-transform: uppercase;
}

.section-summary {
	margin: 25px auto 0;
	width: 486px;
	font-size: 14px;
	font-weight: 400;
	color: #a8a8a8;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper { /* не оставляй такого */
	/*margin: 0 auto;*/
	/*height: 3341px;*/
	/*width: 1134px;*/
	/*background: yellow;*/
}

.section-wrapper { 
	/* делай отступы от секций, а не от враппера */
	overflow: hidden;
	padding: 60px 70px;
	margin: 0 auto;
	width: 1100px; /*почему ты делаешь паддинги сбоку если можно просто увеличить размер враппера? */
	text-align: center;
	/*background: rgba(0, 0, 255, 0.4);*/
}

.section-wrapper:first-child {
	margin-top: 0;  /* не понимаю зачем это вобще тут */
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
header {
	position: relative;
}


/*-------------------------------------NAV------------------------------------------*/

.header-nav > li > a {
	font-size: 30px;
	font-weight: 700;
	color: #39c9da;
}

.header-nav {
	position: absolute;
	/*overflow: hidden;*/
	height: 80px;
	width: 100%;
/*	top: 0;
	left: 0;*/
	/*background: red;*/
	z-index: 2;
}

.header-nav li {
	float: left;
	margin: 0 20px;
	text-align: center;
}

.header-nav h1 {  /* флоат нужно вешать на ссылку внутри, у тебя не будет заголовка на других страницах */
	float: left;
	margin-top: 18px;
	margin-left: 90px;
}

.header-nav h1 a {
	font-size: 30px;
	font-weight: 700;
	color: #39c9da;
	text-decoration: none;
	transition: all .4s ease;
}

.header-nav h1 a:after {
	content: '';
	position: absolute;
	top: 45px;
	left: 215px;
	height: 5px;
	width: 5px;
	background-color: #fff;
}

.header-nav h1 a:hover {
	color: #fff;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-nav h1 a:hover:after {
	background-color: #39c9da;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.header-anchors { /* какие анкоры? это же главное меню */
	overflow: hidden;
}

.header-anchors ul{
	float: right; 
	height: 80px;
}

.header-anchors li {
	float: left;
	margin: 30px 20px;
}

.header-anchors li:last-child {
	margin-right: 60px;
}

.header-anchors a {
	font-size: 15px;
	font-weight: 700;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .1s ease;
}

.header-anchors a:hover {
	color: #39c9da;
	/*text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);*/
	padding: 4px 10px;
	margin: -10px;
/*	border-top: 2px solid #39c9da;
	border-bottom: 2px solid #39c9da;*/
	background: white;
}


/*-------------------------------------HERO--------------------------------------*/
.hero {
	background: url('../images/bg-hero.png') top center;
}

/*посмотри что у меня на большом мониторе -  https://www.dropbox.com/s/yntsk9rxjb5iot5/Screenshot%202015-12-03%2015.16.28.png?dl=0 */

.hero h2 {
	margin: 170px auto 60px;
	font-size: 33px;
	font-weight: 700;
	color: white;
	width: 505px;
}

a.download-button {
	/*position: relative;*/
	padding: 20px 40px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #39c9da;
	transition: all .4s ease;
}

.download-button:hover {
	color: #39c9da;
	background-color: #fff;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.7);
}

.hero .section-wrapper {
	padding-bottom: 120px;
}

/*-------------------------------------ABOUT US--------------------------------------*/
.about-us {
	background-color: #fafafa;
}

.about-us img {
	margin-top: 100px;
	float: left;
	width: 535px;
}

.about-us h3:after {
	content: '';
	/*position: absolute;*/
	display: block;
/*	left: 0;*/
	margin: 15px 0 18px 0;
	width: 100px;
	height: 2px;
	background-color: #39c9da;
}

.about-us h3 {
	margin-top: 45px;
	font-size: 14px;
	font-weight: 700;
	color: #504f50;
	text-transform: uppercase;
}

.about-us h3, .about-us article p {  /*  добавляй классы, я уже потерялся если идти по тегам просто */
	float: right;
	text-align: left;
	width: 535px;
}

.about-us article p {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 400;
	color: #a8a8a8;
}

a.start-using {
	float: left;
	margin-left: 30px;
	padding: 20px 35px;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #39c9da;
	transition: all .3s ease;
}

.start-using:hover {
	color: #39c9da;
	background-color: #fff;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

/*-------------------------------------PORTFOLIO--------------------------------------*/
.portfolio {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f4f4f4;
}

.portfolio ul {
	overflow: hidden;
	margin-top: 40px;
	/*width: 1170px;*/
	/*height: 1000px;*/
	/*background: yellow;*/
}

.portfolio li {
	position: relative;
	margin-bottom: 15px;
	float: left;
	width: 354px;
	height: 354px;
	border: 1px solid #e8e8e8;
	background: #fff;
}

.portfolio li:nth-child(3n+2) {
	margin: 0 15px;
}

.project-block {
	overflow: hidden;
}

.project-block img {
	width: 358px;
}

.project-block a {
	margin: 20px 15px;
	float: left;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	color: #504f50;
	text-transform: uppercase;
	text-decoration: none;
	transition: opacity .3s ease;
}

.project-block a:hover {
	opacity: .8;
}

.project-block span {
	margin: 20px;
	float: right;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	color: #aba7ab;
	text-transform: capitalize;
	text-decoration: none;
}

.portfolio li:hover .overlay-block {
	opacity: 1;
}

.overlay-block {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 354px;
	height: 290px;
	background: rgba(0, 0, 0, 0.3);
	opacity: 0;
	z-index: 10;
	transition: opacity .5s ease;
}

.overlay-block a {
	position: relative;
	top: 130px;
	padding: 15px 30px;
	border: 2px solid #fff;
	border-radius: 2px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	transition: all .5s ease;

}

.overlay-block a:hover {
	border: none;
	border-radius: 0;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	letter-spacing: 5px;
}

/*-------------------------------------SERVICES--------------------------------------*/

.services li {
	display: inline-block;
	padding: 25px 0;
	margin-right: 10px;
	width: 262px;
	border: 1px solid #e2e2e2;
	transition: all .3s ease;
}

.services li:nth-child(4n) {
	margin-right: 0; /* супер) */
}

.section-summary {
	margin-bottom: 45px;
}

.services .fa {
	font-size: 33px;
	color: #39c9da;
}

.services h3 {
	margin-top: 25px;
	font-size: 20px;
	font-weight: 700;
	color: #504f50;
	text-transform: uppercase;
}

.services h3:after {
	content: '';
	display: block;
	margin: 15px 97px 18px 97px;
	width: 76px;
	height: 1px;
	background-color: #39c9da;
}

.services li p {
	margin: 0 20px;
	margin-bottom: 30px;
}

.services a {
	padding: 10px 30px;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	border-radius: 2px;
	background-color: #4b4a4b;
	text-transform: capitalize;
	text-decoration: none;
	transition: all .3s ease;
}

.services a:hover {
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.services li:hover {
	color: #fff;
	background-color: #39c9da;
}

.services li:hover .fa, .services li:hover h3 {
	color: #fff;
}

.services li:hover a {
	color: #504f50;
	background-color: #fff;
}

.services li:hover h3:after {
	background-color: #504f50;
}

/*-------------------------------------CONTENT--------------------------------------*/
.contact-us {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f4f4f4;
}

.contact-info {
	float: left;
	width: 540px;
}

.contact-us form {
	float: right;
	width: 540px;
	font-size: 0;
}

#input-name, #input-email, #input-subject, #textarea {
	font-size: 14px;
	font-weight: 400;
	color: #A8A8A8;
	padding: 0 15px;
}

::-webkit-input-placeholder {color:#c9c9c9;}
::-moz-placeholder          {color:#c9c9c9;}/* Firefox 19+ */
:-moz-placeholder           {color:#c9c9c9;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c9c9c9;}

#input-name {  /* незадай айди для такого */
	margin-right: 24px; 
}

#input-name, #input-email {
	margin-bottom: 24px;
	height: 45px;
	width: 222px;
	border: 1px solid #e8e8e8;
}

#input-subject {
	height: 45px;
}

#input-subject {
	margin-bottom: 24px;
}

#textarea {
	padding-top: 15px;
}

#input-subject, #textarea {
	width: 500px;
	border: 1px solid #e8e8e8;
	resize: none; 
}

#submit { /* а чем сабмит заслужил айди? просто класс добавляй */
	float: right;
	margin-right: 5px;
	margin-top: 24px;
	padding: 20px 60px;
	border: none;
	border-radius: 4px;
	font-size: 20px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #39c9da;
	transition: all .3s ease;	
}

#submit:hover {
	color: #39c9da;
	background-color: #fff;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.contact-info h3:after {
	content: '';
	/*position: absolute;*/
	display: block;
/*	left: 0;*/
	margin: 15px 0 18px 0;
	width: 100px;
	height: 2px;
	background-color: #39c9da;
}

.contact-info h3 {
	/*margin-top: 45px;*/
	font-size: 14px;
	font-weight: 700;
	color: #504f50;
	text-align: left;
	text-transform: uppercase;
}

.contact-info p, .contact-info dd{
	font-size: 14px;
	font-weight: 400;
	color: #a8a8a8;
	text-align: left;
}

.contact-info dt {
	margin: 10px 0;
	font-weight: 700;
	color: #504f50;
	text-align: left;  /* видишь, вместо того, что бы задать цетрирование только для заголовка секции, ты его задал глобально и теперь перебиваешь постоянно */
}

.contact-info dd {
	width: 130px;
} 
/*----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
footer {
	padding-top: 20px;
	padding-bottom: 15px;
	background-color: #39c9da;
}

footer p {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center;	
}