footer {
  background: $main-color;
  .container {
    @include container();
    padding: 30px 40px;
    margin: 0 auto;

    color: #fff;
    text-align: left;
  }
  .cite-info, form, .footer-anchors, .authors {
    display: inline-block;
    width: 80%;

    vertical-align: top;
  }
  form {
    position: relative;
    max-width: 270px;
    margin: 0 auto;

    border: none;
    outline: none;
    .footer-email {
      margin-top: 20px;
      padding-left: 15px;
      padding-right: 50px;
      height: 45px;
      width: 75%;

      color: #fff;
      border: 2px solid white;
      border-radius: 3px;
      background: transparent;
    }
    .footer-submit {
      position: absolute;
      top: 80px;
      right: 13px;
      height: 20px;
      width: 20px;

      border: none;
      background: url("../images/arrow.png");
      background-size: cover;
      cursor: pointer;
      opacity: .4;

      &:hover {
        opacity: .9;
      }
    }
    p {
      margin-top: 10px;
    }
  }
  h4 {
    margin-top: 20px;

    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    opacity: .8;
  }
}

.cite-info {
  .logo {
    font: 28px 'Pacifico';
    color: #fff;
  }
  p {
    margin-top: 30px;

    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
  }
}
.footer-anchors {
  ul {
    display: inline-block;
    width: 49%;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
      color: #fff;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.authors {
  & > span {
    display: block;
    a {
      color: $text-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .copyright {
    color: $text-color;
  }
}


@media (min-width: 1024px){
  footer {
    .container {
      padding: 100px 20px 125px;

      text-align: center;
    }
    .cite-info, form, .footer-anchors, .authors {
      display: inline-block;

      vertical-align: top;
    }
    form {
      margin-left: 20px;
      width: 275px;

      text-align: left;
      .footer-submit {
        top: 100px
      }
    }
    h4 {
      margin-bottom: 20px;
    }
    .cite-info {
      width: 230px;

      text-align: left;
    }
    .footer-anchors {
      margin-left: 20px;
      width: 255px;

      text-align: left;
      ul {
        width: 115px;

        &:not(:first-of-type){
          margin-left: 20px;
        }
      }
    }
    .authors {
      margin-top: 20px;
      width: 210px;

      text-align: left;
    }
  }

}