$main-color: #0eb493;

@mixin transition($property, $duration, $timing){
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

header {
  position: fixed;
  height: 55px;
  width: 100%;

  color: white;

  background-color: rgba(0,0,0,.8);
  z-index: 10;
  .container {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;

    text-align: left;

    z-index: 10;
  }
  .main-menu {
    position: relative;
    & > span {
      display: none;
    }
  }
  h1 {
    position: absolute;
    top: 2px;
    left: 12px;

    a {
      font: 28px 'Pacifico';
      color: #fff;
    }
  }
  .nav {
    position: absolute;
    right: 0;
    li {
      float: left;

      font-size: 0;
    }
    a {
      display: block;
      margin: 0 10px;
      padding: 16px 0;

      font: 400 13px 'Open Sans', sans-serif;
      color: #fff;
      &:hover {
        padding-top: 14px;

        border-top: 2px solid $main-color;
      }
    }
  }
}

@media (max-width: 480px) {
  header {
    .container {
      width: 100%;
    }
    .nav {
      width: 100%;
      top: 55px;
      &:before {
        content: '\2630';
        display: block;
        position: absolute;
        right: 10px;
        top: -47px;

        font-size: 24px;
        line-height: 40px;

        cursor: pointer;
      }
        ul {
          width: 100%;

          background-color: rgba(0,0,0,.8);
          li {
            float: none;
          }
        }
      a {
        margin: 0;
        padding-left: 10px;

        border-top: 1px solid rgba(255,255,255,0.1);
        &:hover {
          padding: 16px 16px 16px 8px;

          border-top: 1px solid rgba(255,255,255,0.1);
          border-left: 2px solid $main-color;

          background-color: rgba(255,255,255,0.05);
        }
      }
  }
    .nav ul {
      display: none;
    }
    .nav.open ul {
      display: block;
      opacity: 1;
    }
  }
}