/** Created by TTF.in.ua **/
@font-face {
    font-family: 'AGLettericaCondensed';
    src: url('AGLettericaCondensed-Roman.eot');
    src: url('AGLettericaCondensed-Roman.eot?#iefix') format('embedded-opentype'),
         url('AGLettericaCondensed-Roman.woff') format('woff'),
         url('AGLettericaCondensed-Roman.ttf') format('truetype'),
         url('AGLettericaCondensed-Roman.svg#AGLettericaCondensed-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}