// Screen
// ======

@import "grids";
@import "compass/reset";

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

.wrapper {
  width: 500px;
  margin: 0 auto;
  h1 {
    margin: 200px 0 20px;
    font: 700 24px 'Lato', sans-serif;
    text-align: center;
  }
}

form.input-form {
  input {
    padding: 10px;
    width: 80%;
    font: 400 14px 'Lato', sans-serif;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    &:focus {
      border: 1px solid #00ADFF;
      outline: none;
      box-shadow: 0 0 5px rgba(0, 173, 255, 0.65);
    }
  }
  .submit {
    width: 18%;
    float: right;
    color: white;
    border: 1px solid #4cae4c;
    background-color: #5cb85c;
    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
    &:focus {
      border: 1px solid #4cae4c;
      background-color: darken(#5cb85c, 15%);
      box-shadow: none;
    }
  }
}

.tasks {
  margin-top: 30px;
  li {
    position: relative;
    padding: 10px 30px 10px 10px;
    font: 400 14px 'Lato', sans-serif;
    color: #222;
    margin-bottom: -1px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;

    &:first-child {

      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    &:last-child {
      border-bottom: 1px solid #ddd;

      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    &:hover {
      background-color: #F3F3F3;
      cursor: pointer;
    }
  }
  .fa-times {
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 20px;
    color: #222;
    &:hover{
      color: red;
    }
  }
}