@mixin transition($property, $duration, $timing){
  -webkit-transition: $property $duration $timing;
  -moz-transition: $property $duration $timing;
  -ms-transition: $property $duration $timing;
  -o-transition: $property $duration $timing;
  transition: $property $duration $timing;
}

.hero {
  position: relative;
  min-height: 343px;
  background: url("../images/hero-bg.png") center no-repeat;
  background-size: cover;
}
.alphabet {
  display: none;
  position: absolute;
  padding: 20px 30px;
  bottom: 0;
  width: 840px;
  left: 50%;
  margin-left: -450px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #5A5A5A;
  border-left: 1px solid #5A5A5A;
  border-right: 1px solid #5A5A5A;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.6);

  li {
    display: inline-block;
    a {
      margin: 10px 5px;
      font: 15px 'MyriadProRegular';
      color: white;
      text-transform: uppercase;
      @include transition(all, .3s, ease);

      &:hover {
        color: #b85200;
      }
    }
  }
}

.user-panel {
  .container {
    min-height: 50px;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-origin: padding-box, border-box;
    background-clip: padding-box, border-box;
    background-image: -webkit-linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%), -webkit-linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
    background-image: -moz-linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%), -moz-linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
    background-image: -ms-linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%), -ms-linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
    background-image: -o-linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%), -o-linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
    background-image: linear-gradient(to top, #2a2a2a 0%, #1f1f1f 52%, #5d5d5d 100%), linear-gradient(to top, #5c5c5c 0%, #0a0a0a 50%, #5c5c5c 100%);
  }

  .logo, .search-form, .sing-up-links {
    display: inline-block;
    margin: 13px;
  }

  .logo {
    font: 18px 'MyriadProBoldCondensed';
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(to bottom, #FF9C34 0%, #FF9C34 40%, #CA622D 40%, #CA622D 100%);
    background: -webkit-linear-gradient(to bottom, #FF9C34 0%, #FF9C34 40%, #CA622D 40%, #CA622D 100%);
    background: linear-gradient(to bottom, #FF9C34 0%, #FF9C34 40%, #CA622D 40%, #CA622D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include transition(all, .3s, ease);

  }

  .search-form {
    position: relative;
    .search-button:focus,.search-input:focus {
      outline: none;
    }
    .search-input {
      height: 25px;
      width: 240px;
      padding-left: 20px;
      padding-right: 40px;
      font: 12px/14px 'MyriadProBoldCondensedItalic';
      color: #848484;
      border-radius: 15px;
      border: 1px solid #454545;
      background: #343434;
      background: -moz-linear-gradient(top,  #262626 0%, #323232 100%);
      background: -webkit-linear-gradient(top,  #262626 0%,#323232 100%);
      background: linear-gradient(to bottom,  #262626 0%,#323232 100%);
    }
    .search-button {
      position: absolute;
      height: 32px;
      width: 27px;
      top: 0;
      right: 10px;
      border: none;
      background: url("../images/search-icon.png") center no-repeat transparent;
      cursor: pointer;
      @include transition(all, .3s, ease);

      &:hover {
        opacity: 0.6;
      }
    }
    ::-webkit-input-placeholder {color:#848484;}
    ::-moz-placeholder          {color:#848484;}
    :-moz-placeholder           {color:#848484;}
    :-ms-input-placeholder      {color:#848484;}
  }
  .sing-up-links {
    li {
      display: inline-block;
      margin-right: 15px;
      &:after {
        content: url("../images/dots.png");
        height: 10px;
        width: 3px;
        margin-left: 15px;
      }
      &:last-child:after {
        content: "";
        margin-left: 0;
      }
      a {
        font: 13px 'MyriadProBoldCondensed';
        color: white;
        text-shadow: 0 1px 4px rgba(0, 3, 1, 0.65);
        background: -webkit-linear-gradient(top, #FFFFFF, #898989);
        background: linear-gradient(top, #FFFFFF, #898989);
        text-transform: uppercase;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition(all, .3s, ease);

        &:hover {
          opacity: 0.7;
        }
      }
      .marked {
        background: -webkit-linear-gradient(top, #FF9F17, #EF920D);
        background: linear-gradient(top, #FF9F17, #EF920D);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}
.publications-lists {
  display: none;
}

.publications {
  & > li {
    position: relative;
    display: inline-block;
    max-width: 350px;
    margin-top: 20px;
    padding: 10px 20px 15px;
    text-align: left;
    border: 1px solid #292929;
    background-color: #0e0e0e;
    &:before {
      content: url("../images/corner.png");
      position: absolute;
      bottom: -4px;
      left: -2px;
    }
    &:after {
      content: url("../images/corner-180.png");
      position: absolute;
      top:-2px;
      right: -2px;
    }
  }
  .list-title {
    font: 13px 'MyriadProBoldCondensed';
    color: white;
    text-shadow: 0 1px 3px rgba(0, 3, 1, 0.5);
    background: -webkit-linear-gradient(top, #FFFFFF, #898989);
    background: linear-gradient(top, #FFFFFF, #898989);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .fa {
      margin-right: 5px;
      font-size: 20px;
      background: -webkit-linear-gradient(top, #FF9F17, #EF920D);
      background: linear-gradient(top, #FF9F17, #EF920D);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.new-publications, .best-publications, .downloads-top {
  margin-top: 5px;
  padding: 15px 40px 15px 15px;
  box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);
  background: url("../images/publ-blick.png") right no-repeat;
  li {
    position: relative;
    margin: 8px 0;
    &:first-child, &:last-child {
      margin: 0;
    }
    &:before {
      content: url("../images/before-link.png");
      position: absolute;
      top: -4px;
    }
  }
  a {
    margin-left: 20px;
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.content {
  .container {
    margin: 20px auto 0;
    padding-bottom: 50px;
    background: #1f1f1f;

  }
  .main-content {
    display: inline-block;
    max-width: 552px;
    vertical-align: top;
  }
}
.games-preview {
  img {
    max-width: 100%;
  }
}

.posts {
  & > li {
    padding-bottom: 30px;
    background: white;
  }
  .post-location {
    position: relative;
    padding: 10px 20px 10px 30px;
    text-align: left;
    background: white;
    a {
      font: 400 12px 'Arial';
      color: black;
      &:hover {
        text-decoration: underline;
      }
    }
    &:before {
      content: url("../images/before-4-post.png");
      position: absolute;
      left: 10px;
    }
    &:after {
      display: none;
      content: "";
      position: absolute;
      height: 15px;
      width: 43%;
      top: 9px;
      right: 10px;
      background: url("../images/diagonal-lines.png") repeat;
    }
  }
  .post-header{
    overflow: hidden;
    text-align: left;
    background: #0f0f0f;
    h4 {
      display: inline-block;
      float: left;
      margin: 12px 0 12px 35px;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .post-title {
      position: relative;
      font: 400 11px 'Arial';
      color: #ef8605;
      text-transform: uppercase;
      &:before {
        content: url("../images/before-title.png");
        position: absolute;
        height: 29px;
        width: 27px;
        top: -7px;
        left: -31px;
      }
    }
    .fa {
      display: inline-block;
      float: right;
      width: 25px;
      margin: 5px;
      font-size: 24px;
      text-shadow: 0 1px 3px rgba(0, 3, 1, 0.5);
      background: -webkit-linear-gradient(top, #FF7E00, #FF9000);
      background: linear-gradient(top, #FF7E00, #FF9000);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include transition(all, .3s, ease);

      &:hover {
        opacity: .6;
        cursor: pointer;
      }
    }
  }
  .post-stats {
    position: relative;
    padding: 2px 0 2px 30px;
    text-align: left;
    background: white;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 7px;
      left: 0;
      bottom: -7px;
      background: url("../images/diagonal-lines.png") repeat-x;
      z-index: 10;
    }
    li {
      display: inline-block;
      position: relative;
      margin-right: 40px;
      font: 400 9px 'Arial';
      color: black;
      &:not(:last-child):before {
        content: url("../images/before-4-post.png");
        position: absolute;
        top: -3px;
        left: -18px;
      }
      &:last-child {
        margin-right: 0;
      }
      .fa {
        color: #b0b0b0;
        cursor: pointer;
      }
      .marked {
        color: #fea437;
      }
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .post-container {
    position: relative;
    padding: 15px 10px;
    text-align: right;
    background: white;
    &:before {
      display: none;
      content: "";
      position: absolute;
      width: 64%;
      height: 15px;
      left: 10px;
      bottom: 10px;
      background: url("../images/diagonal-lines.png") repeat-x;
    }
    img {
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    p {
      font: 400 11px/17px 'Arial';
      color: #7d7d7d;
      text-align: left;
    }
    .bold-text {
      color: #2f2f2f;
      font-weight: 700;
    }
    a {
      font-size: 11px;
      color: black;
    }

    .more-button {
      position: relative;
      margin-left: 10px;
      padding: 5px;
      background: -moz-linear-gradient(top, #894b17 0%, #ef8605 100%);
      background: -webkit-linear-gradient(top, #894b17 0%, #ef8605 100%);
      background: linear-gradient(to bottom, #894b17 0%, #ef8605 100%);
      @include transition(all, .3s, ease);

      &:before {
        position: absolute;
        content: "";
        width: 43px;
        height: 22px;
        top: 0;
        left: 0;
        background: url("../images/more-button-before.png");
      }
      &:hover {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }
  .page-numbers {
    display: inline-block;
    padding: 10px 25px;
    background: #121212;
    li {
      display: inline-block;
      margin: 0 1px;
      a {
        font: 400 13px 'Arial';
        color: #ef8605;
        @include transition(all, .3s, ease);

        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .change-page {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    width: 280px;
    .prev-button, .next-button {
      position: absolute;
      top: 4px;
      @include transition(all, .3s, ease);

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    .next-button {
      right: 0;
    }
    .prev-button {
      left: 0;
    }
  }
}

.wide-banner {
  display: none;
  position: relative;
  padding-left: 5px;
  text-align: left;
  border: 1px solid black;
  box-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.36);
  .book-button {
    @include transition(all, .3s, ease);

    &:hover {
      opacity: 0.7;
    }
  }
  .banner-pic img{
    max-width: 100%;
    margin-top: 10px;
    margin-left: 10px;
    vertical-align: top;
  }
  .banner-text {
    position: absolute;
    bottom: 12px;
    right: 88px;
    font: 400 16px 'MyriadProBoldCondensed';
    color: #1f1f1f;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.41);
  }

}

.left-sidebar {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;

  .block-title {
    display: inline-block;
    margin-left: 14px;
    margin-top: 12px;
    font: 17px 'MyriadProBoldCondensed';
    color: black;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
    text-transform: uppercase;
  }
  .nav-button, .genres-button, .advertise-button {
    height: 40px;
    width: 209px;
    text-align: left;
  }
  .nav-button {
    background: url("../images/navigation-btn-bg.png") center no-repeat;
  }
  .genres-button, .advertise-button {
    background: url("../images/genres-btn-bg.png") center no-repeat;
  }
  .navigation, .genres, .advertise {
    display: inline-block;
    margin-bottom: 20px;
    max-width: 209px;
    vertical-align: top;
  }

}


.sidebar-navigation, .genre-games {
  margin-top: 5px;
  width: 100%;
  text-align: left;
  li {
    position: relative;
    padding: 7px 0 7px 25px;
    border-bottom: 1px dashed black;
    &:before {
      content: url("../images/before-link.png");
      position: absolute;
      top: 3px;
      left: 8px;
    }
    a {
      font: 400 12px 'Arial';
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.advertise-banner {
  position: relative;
  img {
    margin-top: 10px;
  }
  .banner-text {
    position: absolute;
    width: 80px;
    bottom: 5px;
    left: 50%;
    margin-left: -40px;
    font: 400 16px 'MyriadProBoldCondensed';
    color: #1d1d1d;
    text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.37), 0 0 5px rgba(0, 0, 0, 0.75);
  }
}

.right-sidebar {
  display: inline-block;
  vertical-align: top;
  h3 {
    height: 42px;
    width: 209px;
    background: url("../images/right-sidebar-title-bg.png") center no-repeat black;
  }
  .block-title {
    display: inline-block;
    margin-top: 15px;
    font: 14px 'MyriadProBoldCondensed';
    color: #e58106;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.33);
    text-transform: uppercase;
  }

  .gallery, .video, .advertise, .advertising-poll {
    display: inline-block;
    max-width: 209px;
    vertical-align: top;
  }

  .gallery {
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .gallery-list, .video-list {
    margin-top: 10px;
    li {
      display: inline-block;
      margin: 3px;
      width: 77px;
    }
  }
  .video {
    padding-bottom: 25px;
    margin-bottom: 10px;
  }
  .video-name {
    margin-top: 5px;
    font-size: 9px;
    color: #f08704;
  }
  .view-button {
    float: right;
    padding: 5px;
    margin-top: 5px;
    margin-right: 20px;
    color: black;
    background: -webkit-linear-gradient(to top, #834719 0%, #f28804 100%);
    background: -moz-linear-gradient(to top, #834719 0%, #f28804 100%);
    background: linear-gradient(to top, #834719 0%, #f28804 100%);
    @include transition(all, .3s, ease);
    &:hover {
      opacity: 0.7;
    }
  }

  .advertise {
    position: relative;
    margin-bottom: 20px;
    img {
      margin-top: 10px;
    }
    .banner-text {
      position: absolute;
      width: 80px;
      bottom: 5px;
      left: 50%;
      margin-left: -40px;
      font: 400 16px 'MyriadProBoldCondensed';
      color: #1d1d1d;
      text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.37), 0 0 5px rgba(0, 0, 0, 0.75);
    }
  }
  .advertising-poll {
    text-align: left;
    h3 {
      text-align: center;
    }
    form {
      margin-left: 10px;
    }
    p {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 11px;
      color: #fb9c0b;
    }
    li {
      font-size: 11px;
      color: white;
    }
    .marked-button, .unmarked-button {
      display: inline-block;
      margin-top: 15px;
      @include transition(all, .3s, ease);

      &:hover {
        opacity: 0.7;
      }
    }
    .marked-button {
      padding: 5px 10px;
      color: black;
      text-shadow: 0.5px 0.9px 0 rgba(255, 255, 255, 0.21);
      background: -webkit-linear-gradient(to top, #894b17 0%, #ef8605 100%);
      background: -moz-linear-gradient(to top, #894b17 0%, #ef8605 100%);
      background: linear-gradient(to top, #894b17 0%, #ef8605 100%);
    }
    .unmarked-button {
      padding: 4px 9px;
      color: white;
      border: 1px solid #393939;
      background: -webkit-linear-gradient(to top, black 0%, #1f1f1f 100%);
      background: -moz-linear-gradient(to top, black 0%, #1f1f1f 100%);
      background: linear-gradient(to top, black 0%, #1f1f1f 100%);
    }
  }
}

@media (min-width: 768px) {
  .alphabet,
  .posts .post-location:after,
  .posts .post-container:before,
  .wide-banner {
    display: block;
  }

  .left-sidebar {
    width: 209px;
    float: left;
    margin-left: 10px;
  }

  .right-sidebar {
    margin-top: 20px;
  }
}

@media (min-width: 1000px) {
  .publications-lists {
    display: block;
  }
  .right-sidebar {
    width: 209px;
    float: right;
    margin-top: 0;
    margin-right: 10px;
  }
}