// Screen
// ======

@import "grids";
@import "compass/reset";

@import "../bower_components/font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import "main_styles/header";
@import "main_styles/content";
@import "main_styles/footer";

.container {
  @include container();
  padding: 50px 20px;
  overflow: hidden;
  text-align: center;
  .section-title {
    font: 700 36px 'HelveticaNeue';
  }
  & > p:first-of-type {
    position: relative;
    font: 300 20px 'HelveticaNeue';

    &:after {
      position: absolute;
      content: "";
      bottom: -10px;
      left: 50%;
      width: 50px;
      height: 4px;
      margin-left: -25px;
      border-bottom: 4px solid #424242;
    }
  }
}

a:link, a:visited {
  text-decoration: none;
}