/*
Error: File to import not found or unreadable: compass/reset.
        on line 6 of styles.scss

1: /* Welcome to Compass.
2:  * In this file you should write your main styles. (or centralize your imports)
3:  * Import this file using the following HTML or equivalent:
4:  * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> *\/
5: 
6: @import "compass/reset";
7: /*-------------------------------LoveloBlack---------------------------*\/
8: @font-face {
9:   font-family: 'LoveloBlack';
10:   src: url('../fonts/lovelloblack/lovelo_black-webfont.eot');
11:   src: url('../fonts/lovelloblack/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),

Backtrace:
styles.scss:6
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/import_node.rb:45:in `import'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:311:in `visit_import'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `block in with_base'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:115:in `with_frame'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/stack.rb:79:in `with_base'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `each'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:361:in `watch_or_update'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:52:in `parse'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/lib/sass/exec/base.rb:19:in `parse!'
/Users/apple/.rvm/gems/ruby-2.2.1/gems/sass-3.4.19/bin/scss:13:in `<top (required)>'
/Users/apple/.rvm/gems/ruby-2.2.1/bin/scss:23:in `load'
/Users/apple/.rvm/gems/ruby-2.2.1/bin/scss:23:in `<main>'
/Users/apple/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `eval'
/Users/apple/.rvm/gems/ruby-2.2.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: compass/reset.\A         on line 6 of styles.scss\A \A 1: /* Welcome to Compass.\A 2:  * In this file you should write your main styles. (or centralize your imports)\A 3:  * Import this file using the following HTML or equivalent:\A 4:  * <link href=\"/stylesheets/screen.css\" media=\"screen, projection\" rel=\"stylesheet\" type=\"text/css\" /> */\A 5: \A 6: @import \"compass/reset\";\A 7: /*-------------------------------LoveloBlack---------------------------*/\A 8: @font-face {\A 9:   font-family: 'LoveloBlack';\A 10:   src: url('../fonts/lovelloblack/lovelo_black-webfont.eot');\A 11:   src: url('../fonts/lovelloblack/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),"; }
