.wrap {
	margin: 30px auto;
	width: 780px;
	font-size: 15px;
}

fieldset {
	margin-top: 20px;
}

.info-more {
	padding-top: 0;
}

.info-more ul {
	margin-top: 5px;
}

.info-more li ul {
	margin-top: 20px;
}

.info-final {
	padding-bottom: 0px;
}

.info-final ul {
	margin-top: 0;
}

.info-final ul li ul {
	margin-top: 20px;
}

legend {
	font-weight: bold;
}

li {
	list-style: none;
	margin-bottom: 20px;
}

li.minimal ul{
	margin-top: 0;
}

ul {
	padding-left: 0;
	margin-top: 20px;
}

input.width250 {
	width: 250px;
}

input.width40 {
	width: 40px;
}

.block {
	display: block;
}

li.minimal ul li {
	margin-bottom: 0;
}

li ul li {
	margin-bottom: 2px;
}

li.margin0 {
	margin: 0;
}

.weigth-bold{
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.minimal {
	font-size: 12px;
}

label[for="select4"] {
	margin-bottom: 15px;
}

textarea {
	height: 130px;
	width: 380px;
}

select {
	height: 50px;
	width: 150px;
	overflow-y: scroll;
}

select option {
	font-size: 12px;
}

div {
	margin-top: 20px;
}

.placeholder::-webkit-input-placeholder {
    font-size: 12px;
}

.placeholder:-ms-input-placeholder {
	font-size: 12px;
}

.placeholder:-moz-placeholder {
	font-size: 12px;
}

section {
	/*background-color: red;*/
}

section span {
	display: block;
}

section div {
	padding: 5px;
	border: 1px solid black;
	background-color: rgba(0, 0, 0, 0.1);
}

section div h3 {
	margin: 5px 0;
	font-size: 15px;
	font-weight: bold;
}