@import "compass/reset";

/*-------------------------------LoveloBlack---------------------------*/
@font-face { // выноси это в отдельный файл лучше 
    font-family: 'Lovelo Black';
    src: url('../resources/fonts/lovelloblack/lovelo_black-webfont.eot');
    src: url('../resources/fonts/lovelloblack/lovelo_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/lovelloblack/lovelo_black-webfont.woff2') format('woff2'),
         url('../resources/fonts/lovelloblack/lovelo_black-webfont.woff') format('woff'),
         url('../resources/fonts/lovelloblack/lovelo_black-webfont.ttf') format('truetype'),
         url('../resources/fonts/lovelloblack/lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*-------------------------------Lovelo Line Bold-----------------------------------*/

@font-face {
    font-family: 'Lovelo Line Bold';
    src: url('../resources/fonts/lovelloblack/lovelo_line_bold-webfont.eot');
    src: url('../resources/fonts/lovelloblack/lovelo_line_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/lovelloblack/lovelo_line_bold-webfont.woff2') format('woff2'),
         url('../resources/fonts/lovelloblack/lovelo_line_bold-webfont.woff') format('woff'),
         url('../resources/fonts/lovelloblack/lovelo_line_bold-webfont.ttf') format('truetype'),
         url('../resources/fonts/lovelloblack/lovelo_line_bold-webfont.svg#loveloline_bold') format('svg');
    font-weight: bold;
    font-style: italic;
}

/*----------------------------------HelveticaNeue-----------------------------*/
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../resources/fonts/HelveticaNeue/helveticaneuecyr-bold-webfont.eot');
    src: url('../resources/fonts/HelveticaNeue/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/HelveticaNeue/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('../resources/fonts/HelveticaNeue/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('../resources/fonts/HelveticaNeue/helveticaneuecyr-bold-webfont.ttf') format('truetype'),
         url('../resources/fonts/HelveticaNeue/helveticaneuecyr-bold-webfont.svg#helveticaneuecyrbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

html,body { width:100%; height:100%; -webkit-box-sizing: border-box;    -moz-box-sizing: border-box;   box-sizing: border-box; }
body                            { padding:0; margin:0; font:12px 'Lovelo Black', Tahoma, sans-serif; background:#fff; color:#000; }
a { // не нужно заниматся копипастом с другого ресета, делай красиво 
	&:link, &:visited { font-family: 'HelveticaNeue', serif; color: #fff; text-decoration: none; }
	&:hover {
		text-decoration: underline;
	}
}

@mixin united { // непонимаю этого названия 

	position: relative;
	margin: 0 auto;
    padding: 70px 0 15px 6%;
	color: #333;
	font-size: 31px;
	font-weight: 700;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;

	&:after {
		content: ". . .";
	    position: absolute;
	    color: #9b7e3c;
	    left: 49%;
	    bottom: -5px;
	    width: 100px;
	    font-size: 40px;
	}
}

@mixin images-styles { // аналогично 
	width: 262px;
	height: 262px;
	border-radius: 100%;
	box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.15);
}

$ptsans: 'PT Sans', sans-serif; // некорректное название переменной 

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    max-width: 1230px; // враппер на макете четко 1170px 
    height: auto; // это лишнее 
    margin: 0 auto;
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER---------------------------------------*/
/*----------------------------------------------------------------------------------*/
header {
// подумай почему хедера нету 
	.fixed  {
	    position: fixed;
	    z-index: 99999;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 70px;
	    background: red;

	    #menu {
	    	li {
	    		.selected {
	    			a {
	    				display: block;
					    width: 80px;
					    height: 28px;
					    text-align: center;
					    line-height: 28px;
					    color: white;
					    background-color: #fc7d7d;
					    border-radius: 10px;
					    text-align: center;
	    			}
	    		}
	    	}
	    }
    }
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------NAV------------------------------------------*/
/*----------------------------------------------------------------------------------*/
.navigation {
    float: right;
    z-index: 99999;
    margin-top: 20px;
    text-align: center;

    li {
	    float: left;
	    width: auto;
	    height: auto;
	    padding:  0 20px;
	    text-align: center;
	}
	a {
	    display: block;
	    width: auto;
	    height: 28px;
	    margin-top: 10px;
	    color: #fff;
		font-size: 12px;
		line-height: 42px;
		text-transform: uppercase;
	    text-align: center;
	    &:hover {
	    	text-decoration: none;
	    	border-bottom: 1px solid #fff;
	    	padding-bottom: 2px;
	    }
	}
}
/*----------------------------------------------------------------------------------*/
/*-------------------------------------CONTENT--------------------------------------*/
/*----------------------------------------------------------------------------------*/
.logo {
    float: left;
    width: 173px;
    height: 53px;
        margin-top: 20px;
    text-align: center;
    border: 3px solid #dcd9ae;

   a {
   		color: #fff;
		font-family: 'Lovelo Line Bold';
		font-size: 31px;
		font-weight: 400;
		line-height: 53px;
		&:hover {
	    	text-decoration: none;
	    }
    }
}
/*---------------------------------------------------------------------------------*/
.hero {
	min-height: 95%;
	background: url('../images/bg.jpg') no-repeat;
	background-size: cover;
	
	.hero-content {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);

		.hero-title {
			position: relative;
			color: #fff;
			font-size: 100px;
			text-transform: uppercase;
			font-weight: 700;
			text-align: center;

			.pre-title {
				display: block;
				color: #fff;
				font-size: 58px;
			}
		}
	}

	a {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(190%);
		display: block;
		width: 67px;
		height: 67px;

		.fa {
		display: block;
		width: 67px;
		height: 67px;
		margin: 0 auto;
		text-align: center;
		border-radius: 100%;
		background: #9b7e3c;
		-webkit-transition: all 0.8s ease;
	    -moz-transition:    all 0.8s ease;
	    -o-transition:      all 0.8s ease;

		&.fa-angle-down {
			color: #fff;
			line-height: 67px;
		}
		&:hover {
			background: #CD853F;
		}
	}

	&:hover{
		text-decoration: none;
	}
	}
}
/*----------------------------------------------about---------------------------*/
.about {
	background: #fff;
	padding-bottom: 100px;

	.about-title {
		@include united;
	}

	.about-description {
		width: 972px;
		margin: 20px auto 60px; 
		color: #999;
		font: 18px / 33px $ptsans;
		text-align: center;
	}

	.about-img {
		float: left;
		max-width: 570px;
		margin-right: 30px;
	}

	.bars-title {
		margin-bottom: 20px;
		color: #333;
		font-size: 24px;
		line-height: 26px;
		font-weight: 700;
		text-transform: uppercase;
	}

	.progress-bars {
		float: right;
		max-width: 570px;
		margin-bottom: 100px;

		.bars-description {
			color: #666;
			font: 14px / 73px $ptsans, serif;
		}
	}

	.meter { 
		width: 570px;
		height: 20px;  
		border: 1px solid #dcd9ae;
		
		& > span {
			display: block;
			height: 100%;
			background-color: rgb(43,194,83);
			overflow: hidden;
		}
	}

	.orange {
		
		& > span {
			background-color: #dcd9ae;
			background-image: -moz-linear-gradient(top, #dcd9ae);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #dcd9ae));
			background-image: -webkit-linear-gradient(#dcd9ae); 
		}
	}
	.nostripes {

		& > span{

			& > span,
			& .nostripes {
				& > span { 
					&:after {
						-webkit-animation: none;
						background-image: none;
					}
				}
			}
		}
	}

	.work-button {
		clear: both;
		display: block;
		width: 269px;
		height: 67px;	
		margin: auto;
		text-align: center;
		text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.14);
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		line-height: 67px;
		text-transform: uppercase;
		background: #9f7a40;
		box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.22);
		-webkit-transition: all 0.8s ease;
	    -moz-transition:    all 0.8s ease;
	    -o-transition:      all 0.8s ease;

		&:hover {
			text-decoration: none;
			background: #CD853F;
		}
	}
}
/*----------------------------------------------pre-blog----------------------------------------*/
.pre-blog {
 	height: 500px;
	background: url('../images/laziness-works1.jpg') no-repeat;
	background-size: cover;

	.wrapper-pre-blog {
		height: inherit;
		background: rgba(72, 63, 43, 0.8);	
	}

	.pre-blog-title {
		padding: 100px 0 20px;;
		color: #fff;
		font-size: 62px;
		line-height: 62px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
	}

	.pre-blog-description {
		position: relative;
		width: 950px;
		margin: 0 auto;
		padding-bottom: 30px;
		text-align: center;
		color: #fff;
		font: 36px / 44px $ptsans;

		&:after {
			content: ". . ."; // супер) 
		    position: absolute;
		    color: #9b7e3c;
		    left: 45%;
		    bottom: -5px;
		    width: 100px;
		    font-size: 70px;
		}
	}
}	

/*----------------------------------------blog----------------------------------*/
.blog {
	padding-bottom: 100px;
	background: #fff;

	.blog-title {
		@include united;
	}

	.blog-articles {
		margin: 50px auto 0;
		text-align: center;

		li {
			display: inline-block;
			width: 305px;
			margin-left: 95px;
			text-align: center;

			&:first-child {
				margin-left: 0;
			}

			a {
				display: block;
				width: 109px;
				height: 109px;
				margin: 0 auto;

				&:hover {
					text-decoration: none;

					&~ h3 {
					color: #9b7e3c;
					}
				}
			}
		}

		.fa {
			display: block;
			width: 109px;
			height: 109px;
			color: #9b7e3c;
			line-height: 109px;
			text-align: center;
			background-color: #f7f7f7;
			box-shadow: 3.5px 3.6px 0 rgba(0, 0, 0, 0.1);
			border-radius: 100%;
			-webkit-transition: all 0.8s ease;
		    -moz-transition:    all 0.8s ease;
		    -o-transition:      all 0.8s ease;

		    &:hover {
		    	background-color: #9b7e3c;
				color: #fff;
				box-shadow: -3.6px 3.5px 0 rgba(0, 0, 0, 0.1);
			}
		}

		h3 {
			margin: 20px 0;
			color: #333;
			font-size: 18px;
			font-weight: 700;
			line-height: 26px;
			font-weight: 700;
			text-transform: uppercase;
			text-align: center;
			-webkit-transition: all 0.8s ease;
		    -moz-transition:    all 0.8s ease;
		    -o-transition:      all 0.8s ease;
		}

		p {
			color: #333;
			font: 16px / 22px $ptsans;
		}
	}
}
/*---------------------------------------------team-------------------------------------*/
.team {
	display: table; // так нельзя делать 
	width: 100%;
	padding-bottom: 100px;
	background: url('../images/team-bg.png') no-repeat;
	background-size: 100%;

	.team-title {
		@include united;
		margin: 0;
		padding-top: 70px;
	}

	.team-person {
		width: 775px;
		margin: 50px auto 0;
		text-align: center;

		li {
			width: 560px;;
			margin-top: 40px; 

			&:first-child {
				margin-top: 0;
			}

			&:nth-child(odd) {
				float: left;
				text-align: left;

				img {
					@include images-styles;
					float: left;
					margin-right: 40px;
				}
			}

			&:nth-child(even) {
				float: right;
				text-align: right;

				img {
					@include images-styles;
					float: right;
					margin-left: 40px;
				}
			}

			.person-name {
				padding: 50px 0 0;
				color: #333;
				font-size: 18px;
				font-weight: 600;
				line-height: 26px;
				text-transform: uppercase;
			}

			.person-status {
				margin-bottom: 20px;
				color: #333;
				font: 14px / 22px $ptsans;
			}

			.description-person {
				margin-top: 20px;
				color: #333;
				font: 14px / 22px $ptsans;
			}
		}
	}
}
/*---------------------------------------------work-------------------------------------------------*/
.work {
	overflow: hidden;
	background: #9b7e3c;

	.work-wrapper {
		width: inherit;
	}

	.work-title {
		@include united;
		color: #fff;

		&:after {
			color: #dbd6b3;
		}
	}

	.work-porfolio {
		margin: 60px auto 0;
		text-align: center;

		li {
			position: relative;
			overflow: hidden;
			float: left;
			width: 33.33%;
			max-width: 33.33%;
			height: 331px;
			max-height: 331px;
			margin: 0;
			padding: 0;
			
			img {
				width: 100%;
				height: 100%;
			}

			.hover-effect {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: black;
				background-color: rgba(155,126,60, 0.75);
				color: #fff;
				opacity: 0;
				-webkit-box-shadow: inset 0px 0px 0px 15px rgba(220,217,174,1);
				-moz-box-shadow: inset 0px 0px 0px 15px rgba(220,217,174,1);
				box-shadow: inset 0px 0px 0px 15px rgba(220,217,174,1);
				-webkit-transition: all 0.6s ease;
				-moz-transition:    all 0.6s ease;
				-o-transition:      all 0.6s ease;

				.hover-content {
					margin: 100px auto 0;
				}

				& .title-icons {
					display: block;
					width: 67px;
					height: 66px;
					margin: 0 auto 10px;
					
					&:hover {
						text-decoration: none;
					}

					.fa {
						display: block;
						width: 67px;
						height: 66px;
						color: #9b7e3c;
						background-color: #dcd9ae;
						border-radius: 100%;
						line-height: 66px;
						-webkit-transition: all 0.6s ease;
						-moz-transition:    all 0.6s ease;
						-o-transition:      all 0.6s ease;

						&:hover {
							text-decoration: none;
							color: #dcd9ae;
							background-color: #9b7e3c;
						}
					}
				}

				.item-title {
					color: #fff;
					font-size: 18px;
					font-weight: 700;
					line-height: 22px;
					text-align: center;

					a {
						text-transform: uppercase;
					}
				}

				.item-category {
					font: 14px / 22px $ptsans;
					text-align: center;
				}
			}

			&:hover {

				.hover-effect  {
				  opacity: 1;
				}
			}
		}
	}
}
/*------------------------------------------contact------------------------------------------*/
.contact {
	overflow: hidden;

	.contact-wrapper {
		width: inherit;
	}

	.contact-title {
		@include united;
	}

	.contact-map {
		position: relative;
		height: 651px;
		margin-top: 80px;
		background: #fff url('../images/map.png') no-repeat;
		background-size: cover;

		.map-marker {
			position: absolute;
			top: 40%;
			left: 57%;
			transform: translate(-50%, -50%);
		}
	
	}
}
/*------------------------------------------footer------------------------------------------*/
footer {
	background: #dcd9ae;

	.social-icons {
		display: block;
		margin: 0 auto;
		padding: 60px 0 20px;
		text-align: center;

		li {
			display: inline-block;
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}

			a {
				display: block;
				width: 66px;
				height: 66px;

				&:hover {
					text-decoration: none;
				}

				.fa {
					display: block;
					width: 66px;
					height: 66px;
					border: 1px solid #9b7e3c;
					border-radius: 100%;
					color: #dcd9ae;
					text-align: center;
					line-height: 66px;
					background: #9b7e3c;
					-webkit-transition: all 0.6s ease;
					-moz-transition:    all 0.6s ease;
					-o-transition:      all 0.6s ease;

					&:hover {
						color: #9b7e3c;
						background: #dcd9ae;
					}
				}
			}
		}
	}

	.copyright {
		display: block;
		margin: 0 auto;
		padding-bottom: 20px;
		color: #999;
		font: 10px / 19px $ptsans;
		text-align: center;

		a {
			color: #9b7e3c;
			font: 10px / 19px $ptsans;
		}
	}

	// следи за глубиной селекторов
}